body {
	font-family: 'Baloo 2';
	font-size: 30px;
	color: #8F7A5A;
}

img {
	width: 300px;
	animation-name: appearAnimationNoScale;
	animation-duration: 2.5s;
	animation-timing-function: ease;
}



@keyframes appearAnimation {
	0% {opacity: 0; transform: scale(0.9);}
	100% {}
}
@keyframes appearAnimationNoScale {
	0% {opacity: 0;}
	100% {}
}



/* Font sizes */
.textHuge {
	font-size: 75px;
	text-align: center;
}
.textBig {
	font-size: 45px;
	text-align: center;
}
.textMid {
	font-size: 40px;
	text-align: center;
}
.textSmall {
	font-size: 25px;
	text-align: center;
}
@media only screen and (max-width: 360px) {
	body {
		font-size: 25px;
	}
	.textHuge {
		font-size: 60px;
		text-align: center;
	}
	.textBig {
		font-size: 40px;
		text-align: center;
	}
	.textMid {
		font-size: 35px;
		text-align: center;
	}
	.textSmall {
		font-size: 20px;
		text-align: center;
	}
}



.mainContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;

	overflow-y: visible;
}

.preNames {
	padding-top: 30px;
	padding-bottom: 30px;

	width: 500px;
	text-align: center;

	animation-name: appearAnimation;
	animation-duration: 2.5s;
	animation-timing-function: ease;
}
@media only screen and (max-width: 500px) {
	.preNames {
		width: 100%;
	}
}

.names {
	font-family: 'Kaushan Script';

	animation-name: appearAnimationNoScale;
	animation-duration: 2.5s;
	animation-timing-function: ease;
}

.postNames {
	padding-top: 30px;
	padding-bottom: 30px;

	width: 500px;
	text-align: center;

	animation-name: appearAnimation;
	animation-duration: 2.5s;
	animation-timing-function: ease;
}
@media only screen and (max-width: 500px) {
	.postNames {
		width: 100%;
	}
}

.twoColsContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	width: 600px;
}
@media only screen and (max-width: 600px) {
  .twoColsContainer {
    flex-direction: column;
    width: 300px;
  }
  .placeContainer {
  	padding-top: 45px;
  }
}

.dateContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	width: 250px;

	animation-name: appearAnimation;
	animation-duration: 3.5s;
	animation-timing-function: ease;
}
	.day {
	}
	.date {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	.month {
		text-align: center;
	}

.placeContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	width: 250px;

	animation-name: appearAnimation;
	animation-duration: 3.5s;
	animation-timing-function: ease;
}
	.placeName {
		padding-bottom: 15px;
	}
	.placeAddress {
		text-align: center;
	}

.time {
	padding-top: 45px;
	padding-bottom: 30px;

	animation-name: appearAnimation;
	animation-duration: 3.5s;
	animation-timing-function: ease;
}

.guestContainer {
	animation-name: appearAnimation;
	animation-duration: 4.5s;
	animation-timing-function: ease;
}

.preGuest {
	padding-top: 30px;
	text-align: center;
}
.guest {
	padding-top: 15px;
	font-family: 'Satisfy';
	text-align: center;
}
.companion {
	font-family: 'Satisfy';
	text-align: center;
}
.postGuest {
	padding-top: 15px;
	text-align: center;
}

.twoColsContainerBig {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding-top: 60px;

	width: 960px;

	animation-name: appearAnimation;
	animation-duration: 4.5s;
	animation-timing-function: ease;
}
a {
	color: white;
	text-decoration: none;
}
.locationContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	width: 450px;
}
	.locationName {
		padding-bottom: 15px;
	}
	.locationDetails {
		text-align: center;
		white-space: pre-line;

		padding-bottom: 15px;
	}
	.wazeLink {
		padding: 8px 20px;

		background-color: #8F7A5A;
		color: white;
		border: none;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
	}
	.mapsLink {
		margin-top: 15px;
		padding: 8px 20px;

		background-color: #8F7A5A;
		color: white;
		border: none;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
	}
.giftsContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;

	width: 450px;
}
	.giftsIntro {
		text-align: center;

		padding-bottom: 15px;
	}
	.cemacoLink {
		padding: 8px 20px;
		margin-bottom: 15px;

		background-color: #8F7A5A;
		color: white;
		border: none;
		text-align: center;
		text-decoration: none;
		border-radius: 10px;
	}
	.giftsOutro {
		text-align: center;

		padding-top: 15px;
		padding-bottom: 15px;
	}
@media only screen and (max-width: 960px) {
  .twoColsContainerBig {
    flex-direction: column;
    width: 300px;
  }
  .locationContainer {
  	width: 250px;
  }
  .giftsContainer {
  	width: 250px;
  	padding-top: 60px;
  }
}

.guestAmmountContainer {
	animation-name: appearAnimation;
	animation-duration: 4.5s;
	animation-timing-function: ease;
}
.guestAmmount {
	padding-top: 60px;
	white-space: pre-line;
	text-align: center;
}
.confirm {
	padding-top: 15px;
	text-align: center;
}
.confirmWith{
	padding-top: 15px;
	white-space: pre-line;
	text-align: center;
}